<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>
<div class="container">
  <h1>My buddies page</h1>
<br>
  <p>======  add search engine here  =======</p>

</div>
