<% medium = watch.medium %>
<div class="movieposter-profile position-relative">
      <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
        <img class="card-img-top" style="height: 240px; width: 100%; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
        </div>
      </a>
      </div>
