
<div class="justify-content-around">
  <div class="card">
    <%= link_to "Edit Profile", "users/edit", class: "" %>
    <%= link_to "Home", root_path, class: "" %>
  </div>
  <div class="container">
    asadsadsa
  </div>
</div>
