<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="card-watch border">
      <img class="card-img-top" src="<%= @medium.poster %>" />
        <div class="card-watch-infos">
        <h2 class="card-title"><%= @medium.title %></h2>
          <p class="mx-1"><%= medium.description %></p>
        </div>
      </div>

    </div>
  </div>
</div>



<%= link_to "Back to My Profile", profile_path(current_user), class: "btn-round" %>

