.card-img-show {
  height: 500px;
  width: 350px;
}

.card .popup {
  display: none;
  position: absolute;
  bottom: 0px;
  background-color: $metalic;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.card .popup p {
  color: $grey;
}

.card-text img {
  height: 25px;
}

.movieposter .button-favorite {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  opacity: 1;
  bottom: 35px;
  right: 40px;
  z-index: 1000;

}

.movieposter {
  transition: all 0.4s ease-in-out;
  width: 220px;
  border-radius: 2px;
  margin: 4px;
}

.movieposter:hover {
  display: block;
  z-index: 99;
  transform: scale(1.2);

  .popup {
    display: block;
  }

  .button-favorite {
    display: block;
    height: 30px;
    width: 30px;
    opacity: 1;
    bottom: 35px;
    right: 40px;

    :hover {
      filter: brightness(0.6);
    }
  }
}

.cards {
  display: grid;
  grid-gap: 16px;
}

.card-fav {
  overflow: hidden;
  border: 1px solid white;

}

.card-fav > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid white;

}

.card-fav h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-fav p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-fav .card-fav-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-buddy {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 0px;
  align-items: center;
  background-color: #0B0C10;
  border: 1px solid white;
}

.card-buddy img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-buddy h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.card-buddy .card-buddy-infos {
  padding: 0px;
  display: flex;
  align-items: center;
  .btn-outline-spacegreen {
    position: absolute;
    right: 20px;
  }
}



