.card-img-show {
  height: 500px;
  width: 350px;
}

.card .popup {
  display: none;
  position: absolute;
  bottom: 0px;
  background-color: $metalic;
  width: 100%;
  padding: 10px;
  font-size: 14px;

    p {
      color: $grey;
    }
}

.pictograms {
  justify-content: flex-end;
}

.card-text img {
  height: 25px;
}

// homepage cards

.movieposter {
  transition: all 0.4s ease-in-out;
  width: 220px;
  border-radius: 2px;
  margin: 4px;

  .button-watchlist {
    position: relative;
    display: none;
    right: 12px;
    bottom: 12px;

    img {
      height: 30px;
      width: 30px;
    }

    :hover {
      filter: brightness(0.6);
    }
  }

  .button-favorite {
  display: none;
  position: relative;
  opacity: 1;
  bottom: 35px;
  right: 35px;
  z-index: 1000;

    img {
      height: 35px;
    }
  }

    p .notification {
      display: none;
    }
}


.movieposter:hover {
  display: block;
  z-index: 99;
  transform: scale(1.2);

  .popup {
    display: block;
  }

  .button-favorite {
    display: block;
    height: 30px;
    width: 30px;
    opacity: 1;
    bottom: 13px;
    right: 46px;

    :hover {
      filter: brightness(0.6);
    }
  }

  .button-watchlist {
    display: block;
    right: 12px;
    bottom: 12px;

  }
}

#yourtag {
  position: relative;
  right: 12px;
}

#buddytag {
  position: relative;
  right: 12px;
}

// profilecard

.movieposter-profile {
  transition: all 0.4s ease-in-out;

  .card-title {
    font-size: 11px;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .card-text {
    font-size: 11px;
    img {
      height: 16px;
    }
  }

  .popup {
    height: 60px;
  }

  &:hover {
    display: block;
    z-index: 99;
    transform: scale(1.2);

    .popup {
      display: block;
    }
  }
}

.card {
  background-color: $smokeyblack;
}

.name h1 {
    color: $electricblue;
  }

.cards {
  display: grid;
  grid-gap: 16px;
}

.card-fav {
  height: 202px;
  width: 100%;
  overflow: hidden;
  border: 1px solid white;
  .card-title {
    width: 152px;
  }

}

.card-fav img {
  height: 100%;
  object-fit: cover;
}

.card-fav h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-fav p {
  font-size: 12px;
  margin: 0;
}

.card-fav .card-fav-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-buddy {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 0px;
  align-items: center;
  background-color: $smokeyblack;
  border: 1px solid white;
}

.card-buddy {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.card-buddy {
  .btn-outline-spacegreen {
  right: 20px;
  align: center;
  }
}
.card-buddy img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-buddy h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.card-buddy .card-buddy-infos {
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
    img{
      height: 50px;
      width: 50px;
      object-fit: cover;
      margin-right: 15px;
    }
    a {
      height: 60px;
      width: 60px;
      z-index: 100;
    }
}

  .cardbuddy-status {
    flex-direction: column;
  }

.cardrequest {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.buddyimg{
  position: relative;
  top: -50px;
  right: 15px;
  width: 111%;
  border: 1px solid white;
}


.card-profile {
  width: 18rem;
  height: max-content;
  background-color: $smokeyblack;
  position: relative;
  border: 1px solid white;
  .btn-outline-spacegreen {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.card-seen {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  height: 150px;
  background: white;
  display: flex;
  padding: 0px;
  align-items: center;
  background-color: $smokeyblack;
  border: 1px solid white;
  img {
      height: 150px;
      width: 100px;
      object-fit: cover;
  }
  .card-title {
    width: 152px;
  }
}

.container > div.row.d-flex.flex-fow.mt-5 > a > div > div > p.seen {
  img {
    height: 20px;
  }
  position: absolute;
  right: 16px;
  bottom: 8px;
}

.card-trip-infos {
  width: 100%;

  .button-favorite {
      img {
      height: 45px;
      margin-left: 5px;
      }

      :hover {
      filter: brightness(0.6);
    }
  }
  .button-watchlist {
      img {
      height: 40px;
      margin-left: -5px;
      margin-right: 1px;
      }

      :hover {
      filter: brightness(0.6);
    }
  }

  .button-tick {
    img {
    height: 40px;
    margin-left: -4px;
    }

      :hover {
      filter: brightness(0.6);
      }
    }
}

.rating-section {
  min-width: 160px;
}

.rating-section:hover{
  #your-rating {
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;
  }
}

#your-rating:hover {
  cursor: pointer;
}


.relativdiv {
  position: relative;
}

.rating-popup {
  width: 230px;
  position: absolute;
  left: 532px;
  top: 118px;
  z-index: 100;
  padding: 5px 10px;
  border-style: solid;
  border-color: $electricblue;
  color: $electricblue;
  border-radius: 1px;
  background-color: $smokeyblack;
}

#ratingdesc {
 min-height: 100px;
 margin: 25px 20px 15px; // top right bottom
 display: flex;
 width: 180px;
}

.card-review {
  position: relative;
  border: 1px solid;
  width: 93%;
  height: 180px;

  .avatar {
    position: absolute;
    align-text: right;
    right: 15px;
    bottom: 15px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
  }
  .text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .rating {
    text-align: right;
    align-items: center;
  }
  p {
    text-align: left;
  }
  .name {
    position: absolute;
    right: 55px;
    bottom: 15px;
  }
}

.container > .col-12.justify-content-center.align-items-center.mt-4.pl-0 > .row.mt-3.mb-3 {
flex-wrap: nowrap;
}


.container > .col-12.justify-content-center.align-items-center.mt-4.pl-0 > .row.mt-3.mb-3 {
  width: 93.5% !important;
}


