.border-bottom {
  border-bottom: 1px solid $electricblue !important;
}

.footer-links a {
  color: $greenish;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
