#results img {
  height: 150px;
}

#results {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#results button {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
}

#results p {
  text-align: left;
  margin-bottom: 0px;
}

#results li {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
}
