<div class="footer mt-3">
 <div class="d-flex justify-content-between pt-5 mb-3 border-bottom pb-5 align-items-center">
  </div>
  <div class="d-flex justify-content-center mt-4 mb-4">
    <div class="footer-links">
    <!--
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      -->
    </div>
  </div>
  <div class="footer-copyright" style="text-align: center">
      <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p> <img class="mb-2" style="height: 30px" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" alt="tmdb">
  </div>
</div>
