<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <img src="https://img.icons8.com/nolan/64/retro-tv.png" alt="icon">
      <h2 class="mr-3 pb-0 ml-2">WEhicle</h2>
    <% end %>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://clipartart.com/images/login-background-images-clipart-1.jpg" />
        </li>
      </ul>
    </div>

  </div>
</div>

